{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="text-align: center;">
  <h2>Log In</h2>
    <form method="post">
      <div style="display: inline-block; text-align: left;">
      {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
  </div>
  <br>
  <button type="submit">Log In</button>
  </form>
  <button type="button">
    <a href="{% url 'home' %}">Voltar para a tela inicial</a>
  </button> 
</div>
<br>

{% endblock %}