<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Avasus{% endblock %}</title>
</head>
<body>
  <main>
    <div style="margin:auto;text-align:center;">
      <h1>
        <img src="https://avasus.ufrn.br/theme/image.php/avasus2/theme/1666351836/logo" alt="AVASUS">   
      </h1>
      <p >
        Promovendo conhecimento integrado e acessível em educação para a saúde.
      </p>
    </div>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>