<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 style="margin:auto;text-align:center;">Bem vindo ao AVASUS!</h1>
{% if user.is_authenticated %}
    <div style="margin:auto;text-align:center;">
        <p>
        {% if user.is_professor %}
            Olá Professor {{ user.name }}!
        {% else %}
            Olá aluno {{ user.name }}!
        {% endif %}
        <strong>CPF: </strong> {{ user.cpf }}
        <strong>Idade: </strong>{{ user.age }} anos
        <strong>Data de nascimento: </strong>{{ user.birth_date }}
        </p>
        <button type="button">
            <a href="{% url 'logout' %}">Log Out</a>
        </button>
        {% if user.is_professor %}
        <button type="button">
            <a href="{% url 'subforum-create-form' %}">Criar novo subfórum</a>
        </button>
        {% endif %}

    </div>
    <div style="margin:auto;text-align:center;">
        <h3>Subfóruns associados:</h3>
        {% if user.is_professor %}
            <table style="margin:auto;text-align:left;">
                <tr>
                    <th>Titúlo</th>
                    <th>Descrição</th>
                    <th>Professor Responsável</th>
                    <th>Criado em</th>
                </tr>
                {% for field in user.created_subforuns.all %}
                <tr>
                    <td><a href="/forum/subforum/{{ field.id }}">{{ field.title }}</a></td>
                    <td>{{ field.description }}</td>
                    <td>{{ field.creator }}</td>
                    <td>{{ field.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <table>
                <tr>
                    <th>Titúlo</th>
                    <th>Descrição</th>
                    <th>Professor Responsável</th>
                    <th>Criado em</th>
                </tr>
                {% for field in user.subforum_set.all %}
                <tr>
                    <td><a href="{% url 'subforum-info' field.id %}">{{ field.title }}</a></td>
                    <td>{{ field.description }}</td>
                    <td>{{ field.creator }}</td>
                    <td>{{ field.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
            <br />
            {% if user.subforum_set.all.count == 0 %}
                Parece que você não foi incluído em nenhum fórum ainda.
                <br />
                Solicite ao seu professor que te inclua.
                <br />
            {% endif %}
        {% endif %}
        <button type="button">
            <a href="{% url 'logout' %}">Log Out</a>
        </button>
        {% if user.is_professor %}
        <button type="button">
            <a href="{% url 'subforum-create-form' %}">Criar novo subfórum</a>
        </button>
        {% endif %}
    </div>
{% else %}
    <div style="margin:auto;text-align:center;">
        <p>Você não está logado</p>
        <button type="button">
            <a href="{% url 'login' %}">Entrar</a>
        </button>
        <button type="button">
            <a href="{% url 'signup-student' %}">Cadastre-se</a>
        </button>
    </div>
{% endif %}
{% endblock %}