<!-- templates/forum/subforum-register.html -->
{% extends "base.html" %}

{% block title %}Edição de Subforum{% endblock %}

{% block content %}
  <h2>Edição de Subforum </h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Salvar</button>
  </form>
  <button type="button">
    <a href="{% url 'subforum-info' pk=pk%}">Voltar para o forum</a>
  </button> 
{% endblock %}