<!-- templates/forum/subforum-register.html -->
{% extends "base.html" %}

{% block title %}Cadastro de Subforum{% endblock %}

{% block content %}
<div style="text-align: center;">
  <h1>Cadastro de Subforum </h1>
  <div style="display: inline-block; text-align: left;">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small><br>
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Salvar</button>
    <button type="button">
      <a href="{% url 'home' %}">Voltar para a tela inicial</a>
    </button> 
  </form>
  </div>
</div>
{% endblock %}