{% extends 'base.html' %}

{% block title %}SubForum{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<p><strong>Professor Responsável:</strong> <a href="{% url 'user-info' pk=object.creator.pk %}">{{ object.creator }}</a></p>
<p><strong>Categoria:</strong> {{ object.category }}</p>
<p><strong>Criado em:</strong> {{ object.created_at }}</p>
<p><strong>Descrição:</strong> {{ object.description }}</p>
<p><strong>Quantidade de tópicos:</strong> {{ object.topic_set.all.count }}</p>
{% if user.is_professor %}
<p><strong>Quantidade de alunos vinculados:</strong> {{ object.students.all.count }}</p>
<p><strong>Quantidade de postagens em todos os tópicos:</strong> {{ object.qtd_posts }}</p>
<button type="button">
  <a href="{% url 'subforum-edit-form' object.pk %}">Atualizar SubForum</a>
</button> 
{% endif %}  
<table>
  <tr>
    <th>Titúlo</th>
    <th>Autor</th>
    <th>Criado em</th>
    <th>Quantidade de respostas</th>
    <th>Última resposta</th>
  </tr>
  {% for topic in object.sorted_topics %}
    <tr>
      <td><a href="{% url 'topic-info' topic.id %}">{{ topic }}</a></td>
      <td>{{topic.creator}}</td>
      <td>{{topic.created_at}}</td>
      <td>{{topic.qtd_responses}}</td>
      <td>{{topic.datetime_last_response}}</td>
    </tr>
  {% endfor %}
</table> 
<button type="button">
  <a href="{% url 'topic-create-form' object.pk %}">Cadastrar novo tópico</a>
</button> 
<button type="button">
  <a href="{% url 'home' %}">Voltar para a tela inicial</a>
</button> 
{% endblock %}