{% extends 'base.html' %}

{% block title %}Topic{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<p><strong>Autor:</strong> <a href="">{{ object.creator }}</a></p>
<p><strong>Criado em:</strong> {{ object.created_at }}</p>
<h3>Conteúdo</h3>
<p> {{ object.content }} </p>
<h3>Respostas</h3>
{% for resp in object.sorted_responses %}
  {{resp.content}}
  <br>
  <p><strong>Autor: </strong> {{resp.creator}} <strong>Criado em: </strong> {{resp.created_at}}</p>
  <br>
{% endfor %}
<button type="button">
  <a href="/forum/subforum/{{ object.subforum.id }}">Voltar para o forum</a>
</button> 

<button type="button">
  <a href="">Responder Tópico</a> 
</button> 
{% endblock %}