{% extends 'base.html' %}

{% block title %}Topic{% endblock %}

{% block content %}
<h2>{{ object }}</h2>
<p><strong>Autor:</strong> <a href="{% url 'user-info' pk=object.creator.pk %}">{{ object.creator }}</a></p>
<p><strong>Criado em:</strong> {{ object.created_at }}</p>
<h3>Conteúdo</h3>
<p> {{ object.md_content|safe }} </p>
<h3>Respostas</h3>
{% for resp in object.sorted_responses %}
  {{resp.md_content|safe}}
  <br>
  <p><strong>Autor: </strong> {{resp.creator}} <strong>Criado em: </strong> {{resp.created_at}}</p>
  <br>
  {% if user.is_professor %}
    <form action="{{object.id}}/remove/{{resp.id}}" method="post">
      {% csrf_token %}
      <button type="submit">Remover resposta</button> 
    </form>
  {% endif %} 
{% endfor %}

<button type="button">
  <a href="{% url 'subforum-info' pk=object.subforum.id %}">Voltar para o forum</a>
</button> 

{% if not object.is_closed %}
  {% if user.is_professor %}
  <form action="{{object.id}}/close" method="post">
    {% csrf_token %}
    <button type="submit">Trancar tópico</button> 
  </form>
  {% endif %} 
  <button type="button">
    <a href="{% url 'response-create-form' topic=object.id %}">Responder Tópico</a> 
  </button> 
{% else %}
  {% if user.is_professor %}
  <form action="{{object.id}}/open" method="post">
    {% csrf_token %}
    <button type="submit">Abrir tópico</button> 
  </form>
  {% endif %}
{% endif %} 
{% endblock %}